body {
font-family: sans-serif;
font-size: 1.6em;
color: blue;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkcyan;
}

input[type="text"] {
    width: 50%;
    margin: 7px;
    box-sizing: border-box;
    border: 3px solid;
    text-align: center;
    border-radius: 9px;
}

